@model ClinicAppointments.MVC.Models.AppointmentModel

@{
  /**/

  ViewBag.Title = "Create";
}

<h2>Create patient appointment</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createAppointmentForm" }))
{
  @Html.AntiForgeryToken()

<div class="form">
  <hr />
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  <div id="msgExistingAppointment" class="alert alert-danger" role="alert" style="display:none"><strong>Error. </strong>Patient already have an appointment for the selected date</div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Patient information</strong></h3>
    </div>
    <div class="panel-body">
      @Html.HiddenFor(model => model.Patient.Id, htmlAttributes: new { @id = "patientId" })

      <table class="table table-condensed table-responsive">
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Patient.Identification)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Patient.LastName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Patient.PhoneNumber)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Patient.Email)
          </th>
        </tr>
        <tr>
          <td>
            @Html.DisplayFor(model => model.Patient.Identification)
          </td>
          <td>
            @Html.DisplayFor(model => model.Patient.FirstName)
          </td>
          <td>
            @Html.DisplayFor(model => model.Patient.LastName)
          </td>
          <td>
            @Html.DisplayFor(model => model.Patient.PhoneNumber)
          </td>
          <td>
            @Html.DisplayFor(model => model.Patient.Email)
          </td>
        </tr>
      </table>

      <table class="table table-condensed table-responsive">
        <tr>
          <th>
            Specialty
          </th>
          <th>
            Date
          </th>
          <th>
            Time
          </th>
        </tr>

        <tr>
          <td>
            <select class="form-control" id="Specialties" name="Specialties">
              <option value="0">Select specialty</option>
            </select>
            <span id="msgSpecialty" class="text-danger" style="display:none">You must select a specialty</span>
          </td>
          <td>
            <input type="date" class="form-control" id="datePick" placeholder="Date">
            <span id="msgDate" class="text-danger" style="display:none">You must select a valid date</span>
          </td>
          <td>
            <input type="time" class="form-control" id="timePick" placeholder="Time">
            <span id="msgTime" class="text-danger" style="display:none">You must select a valid date</span>
          </td>
        </tr>
      </table>
      <div class="col-md-4">
        <input type="submit" value="Create" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", "Patient", null, htmlAttributes: new { @class = "btn btn-danger" })

      </div>

    </div>
  </div>


  <div class="panel panel-default" style="display:none">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Appointment information</strong></h3>
    </div>
    <div class="panel-body">
      <div id="grpSpecialty" class="form-group">
        @Html.Hidden("specialtyId", "0", htmlAttributes: new { @id = "specialtyId" })
        @Html.Label("Specialty", "Specialty", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
          <select class="form-control" id="Specialties1" name="Specialties1">
            <option value="0">Select specialty</option>
          </select>
          <span id="msgSpecialty" class="text-danger" style="display:none">You must select a specialty</span>
        </div>
      </div>
      <br /><br />
      <div id="grpDate" class="form-group">
        @Html.Hidden("dateSelected", "0", htmlAttributes: new { @id = "dateSelected" })
        @Html.Label("Date", "Date", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
          <input type="date" class="form-control" id="datePick" placeholder="Date">
          <span id="msgDate" class="text-danger" style="display:none">You must select a valid date</span>
        </div>
      </div>
      <br /><br />
      <div id="grpTime" class="form-group">
        @Html.Hidden("timeSelected", "0", htmlAttributes: new { @id = "timeSelected" })
        @Html.Label("Time", "Time", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
          <input type="time" class="form-control" id="timePick" placeholder="Time">
          <span id="msgTime" class="text-danger" style="display:none">You must select a valid date</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10">
          <input type="submit" value="Create" class="btn btn-primary" />

        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Patient appointments</strong></h3>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-responsive">
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Specialty.SpecialtyName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.AppointmentDateTime)
          </th>
          <th></th>
        </tr>
        @if (Model.Patient.Appointments != null)
        {
          foreach (var item in Model.Patient.Appointments)
          {
            <tr>
              <td>
                @Html.DisplayFor(model => item.Specialty.SpecialtyName)
              </td>
              <td>
                @Html.DisplayFor(model => item.AppointmentDateTime)
              </td>
              <td>
                @Html.ActionLink("Cancel appointment", "Delete", "Appointment", new { id = item.Id }, null)
              </td>
            </tr>
          }
        }

      </table>
    </div>
  </div>

</div>
}

<div style="display:none">
  @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")

  <script type="text/javascript">

    $(document).ready(function () {
      loadSpecialties();

      $("#createAppointmentForm").submit(function (e) {
        if (!validateInformation()) {
          e.preventDefault();
        }
      });
    })

    function loadSpecialties() {
      $.ajax({
        type: "GET",
        url: "http://local.clinicappointmentsapi.com/api/specialty",
        data: {},
        dataType: 'json',
        contentType: 'application/json',
        success: function (specialtiesArr) {
          $.each(specialtiesArr, function (key, value) {
            $('#Specialties')
              .append($("<option></option>")
              .attr("value", value.Id)
                .text(value.SpecialtyName));
          });
        }
      });
    }

    function validateInformation() {
      var msgError; //<strong>Warning!</strong> Better check yourself, you're not looking too good.

      var appointmentDate = $("#datePick").val();
      var appointmentTime = $("#timePick").val();
      var SpecialtyId = $("#Specialties").val();

      if (SpecialtyId == 0) {
        $("#grpSpecialty").addClass('has-error');
        $("#msgSpecialty").show();
        return false;
      }
      else {
        $("#grpSpecialty").removeClass('has-error');
        $("#msgSpecialty").hide();
        $("#specialtyId").val(SpecialtyId);
      }

      if (!appointmentDate) {
        $("#grpDate").addClass('has-error');
        $("#msgDate").show();
        return false;
      }
      else {
        $("#grpDate").removeClass('has-error');
        $("#msgDate").hide();
        $("#dateSelected").val(appointmentDate);
      }

      //if (!validAppointment()) {
      //  $("#grpDate").addClass('has-error');
      //  $("#msgExistingAppointment").show();
      //  return false;
      //}
      //else {
      //  $("#grpDate").removeClass('has-error');
      //  $("#msgExistingAppointment").hide();
      //  $("#dateSelected").val(appointmentDate);
      //}

      if (!appointmentTime) {
        $("#grpTime").addClass('has-error');
        $("#msgTime").show();
        return false;
      }
      else {
        $("#grpTime").removeClass('has-error');
        $("#msgTime").hide();
        $("#timeSelected").val(appointmentTime);
      }

      return true;
    }

    function validAppointment() {
      var isValidAppointment = true;
      var strDatePicked = $("#datePick").val();

      $.ajax({
        type: "GET",
        url: "http://local.clinicappointmentsapi.com/api/appointment/patient/" + $("#patientId").val(),
        data: {},
        dataType: 'json',
        contentType: 'application/json',
        success: function (result) {
          for (var i = 0; i < result.length; i++) {
            var strDateFromDB = result[i].AppointmentDateTime.substring(0, 10);

            if (strDatePicked == strDateFromDB) {
              isValidAppointment = false;
            }
          }
          return isValidAppointment;
        }
      });
    }

    function createAppointment() {
      var fullDateTime = $("#datePick").val() + " " + $("#timePick").val();

      var appointmentModel = {
        PatientId: $("#patientId").val(),
        SpecialtyId: $("#Specialties").val(),
        AppointmentDateTime: fullDateTime
      };

      $.ajax({
        type: "POST",
        url: "http://local.clinicappointmentsapi.com/api/appointment",
        data: JSON.stringify(appointmentModel),
        dataType: 'json',
        contentType: 'application/json',
        success: function (result) {
          temporal(result);
        }
      });
    }

  </script>
}
